


nav {
    background-color: black;
}

ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#header {
    font-family: sans-serif;
}

.nav-items {

}

.nav-links {
    display: inline-block;
    color: #f7f7f7;
    text-decoration: none;
    padding: 20px;
    cursor: pointer;
}

.nav-links:hover, .footer-links:hover {
    transition: 0.3s;
    color: #e4e4e4;

}


#footer {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    background-color: black;
    font-family: sans-serif;
}

.footer-links {
    display: inline-block;
    color: #f7f7f7;
    text-decoration: none;
    padding: 12px;
    cursor: pointer;
}

main {
    padding: 12px;
}

#content {
    width: 90%;
    margin: auto;
    padding: 20px;
    font-family: sans-serif;
}