#content {
    font-family: sans-serif;
    padding: 12px;
    width: 90%;
    margin: auto;
    padding-top: 60px;
}

.main-post-heading {
    font-size: 35px;
    line-height: 40px;
    margin-bottom: 40px;
}

.paragraphs {
    font-size: 16px;
    color: #616161;
    line-height: 25px;
}

.illustrations {
    border: 2px solid #d6d6d6;
    border-radius: 5px;
    margin: 25px auto 25px auto;
}

#publication-details {
    display: flex;
    margin-bottom: 20px;
}

.publication-headers {
    
    font-weight: bold;
}

.publication-headers:not(:first-child) {
    margin-left: 20px;
}

.publication-text {
    padding-left: 10px;
}