#content {
    font-family: sans-serif;
    padding: 12px;
    width: 90%;
    margin: auto;
    padding-top: 60px;
}

.main-post-heading {
    font-size: 35px;
    line-height: 40px;
    margin-bottom: 40px;
    padding-top: 60px;
}

.post-sub-heading {
    font-size: 25px;
    line-height: 40px;
    margin-bottom: 15px;
    padding-top: 60px;
}

.paragraphs {
    font-size: 16px;
    color: #616161;
    line-height: 25px;
    margin-top: 25px;
}

.illustrations {
    border: 2px solid #d6d6d6;
    border-radius: 5px;
    margin: 25px auto 25px auto;
}

#publication-details {
    padding-bottom: 25px;
    border-bottom: 1px solid #f1f1f1;
    display: flex;
    color: #616161;
}

.publication-headers {
    
    font-weight: bold;
}

.publication-headers:not(:first-child) {
    margin-left: 20px;
}

.publication-text {
    padding-left: 10px;
}

.code {
    background-color: #e8e8e8;
    padding: 20px;
    border-radius: 5px;
    margin: 40px 0;
}

.space-code {
    margin: 10px 0;
    display: block;
}

.code-element {
    color: #6060e2;
}